/*.jumbotron {
    /* add bootstrap jumbotron background image 
    background: url("https://raw.githubusercontent.com/bretonio/bretonio.github.io/master/images/infernalmachine.jpg");
    color: #000;
    background-size: center top;
    height: 100vh;
}*/